body {
	background-color: #2e1f27;
}

#addBurgerContainer {
	position: relative;
	width: 90%;
}

input.newBurger {
	position: center;
	text-align: center;
	height: 50px;
	width: 80%;
}

.jumbotron {
	background-color: #f4c95d;
	text-align: center;
}

li {
	list-style: none;
	margin: 10px;
	font-size: 30px;
}

img {
	justify-content: center;
}

h1 {
	font-size: 80px;
	color: #2e1f27;
	text-align: center;
}

h2 {
	color: #2e1f27;
	padding-left: 20px;
}

#devoured {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: left;
	background-color: #dd7230;
}

#notDevoured {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: right;
	background-color: #dd7230;
}

#addBurger {
	background-color: #e7e393;
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 40px;
	margin-top: 40px;
}

.changedevoured {
	background-color: #2e1f27;
}

#addBurger {
	padding-top: 20px;
}

#makeDaBurger {
	margin-top: 20px;
	background-color: #2e1f27;
}

.footer {
	background-color: #f4c95d;
	justify-content: center;
	height: 120px;
}

#lilnote {
	text-align: center;
	font-size: 14px;
	color: white;
}
